.box {
  width: 100%;
  max-width: 850px;
  padding: 10px;
}

.box-title {
  text-align: center;
  font-size: 24px;
  color: var(--cp-blue);
}

.box-row {
  display: flex;
}

.box-cell {
  width: 16.6666666667%;
}
