.generation-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.generation-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.generation-title {
  text-align: center;
  margin: 0;
  padding-top: 0.8em;
}

.divider {
  border: 2px solid var(--cp-lavender);
}