.notifications-container {
  position: fixed;
  top: 0;
  width: 100%;
}

.notification-container {
  padding: 0.5em;
}

.notification-card {
  position: relative;
  font-size: 18px;
  border: 2px solid var(--cp-text);
  border-radius: 0.3em;
  background-color: var(--cp-surface-0);
  color: var(--cp-text);
  padding: 1em;
  max-width: 20em;
  width: 100%;
  margin: 0 auto;
  z-index: 50;
}

.notification-dismiss {
  position: absolute;
  top: 5px;
  right: 5px;
}

.notification-card.blue {
  color: var(--cp-blue);
  border-color: var(--cp-blue);
}

.notification-card.green {
  color: var(--cp-green);
  border-color: var(--cp-green);
}

.notification-card.yellow {
  color: var(--cp-yellow);
  border-color: var(--cp-yellow);
}

.notification-card.red {
  color: var(--cp-red);
  border-color: var(--cp-red);
}
