.pokemon-container {
  padding: 5px;
}

.pokemon-card {
  position: relative;
  padding: 5px;
  cursor: copy;
  border: 1px solid var(--cp-overlay-2);
  border-radius: 5px;
  background-color: var(--cp-surface-2);
  color: var(--cp-text);
}

.pokemon-card-catched {
  border-color: var(--cp-green);
  background-color: var(--cp-surface-0);
  color: var(--cp-green);
}

.pokemon-card-empty {
  cursor: default;
  border-color: var(--cp-surface-2);
  background-color: var(--cp-surface-0);
  color: var(--cp-surface-2);
}

.pokemon-picture {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.6;
  margin: 0 auto;
  height: 96px;
}

.pokemon-picture-catched {
  opacity: 1;
}

.pokemon-name {
  font-size: 10px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pokemon-info,
.pokemon-info:link,
.pokemon-info:visited,
.pokemon-info:active {
  color: var(--cp-overlay-1);
  position: absolute;
  top: 5px;
  right: 5px;
}

.pokemon-info:hover {
  color: var(--cp-text)
}


.pokemon-icon {
  color: var(--cp-text);
  position: absolute;
  top: 5px;
  left: 5px;
}
