.pokemon-container {
  padding: 5px;
}

.pokemon-card {
  padding: 5px;
  cursor: pointer;
  border: 1px solid var(--cp-overlay-2);
  border-radius: 5px;
  background-color: var(--cp-surface-2);
  color: var(--cp-text);
}

.pokemon-card-catched {
  border-color: var(--cp-green);
  background-color: var(--cp-surface-0);
  color: var(--cp-green);
}

.pokemon-card-empty {
  border-color: var(--cp-surface-2);
  background-color: var(--cp-surface-0);
  color: var(--cp-surface-2);
}

.pokemon-picture {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  margin: 0 auto;
  height: 96px;
}

.pokemon-picture-catched {
  opacity: 1;
}

.pokemon-name {
  font-size: 10px;
  text-align: center;
}
