.save-container {
  position: fixed;
  font-size: 25px;
  top: 0.6em;
  right: 0.6em;
  display: flex;
}

.save-button {
  border: 1px solid var(--cp-teal);
  border-radius: 0.3em;
  background-color: var(--cp-surface-0);
  color: var(--cp-teal);
  font-size: 1em;
  margin: 0.1em;
  padding: 0.1em 0.3em;
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.2em;
}

.save-button.success {
  color: var(--cp-green);
  border-color: var(--cp-green);
}

.save-button.failure {
  color: var(--cp-red);
  border-color: var(--cp-red);
}

.save-button:hover {
  border: 1px solid var(--cp-text);
  background-color: var(--cp-surface-1);
  color: var(--cp-teal);
}

.save-button:active {
  border: 1px solid var(--cp-text);
  background-color: var(--cp-surface-2);
}

.save-button:disabled {
  border: 1px solid var(--cp-subtext-1);
  color: var(--cp-subtext-1);
  background-color: var(--cp-surface-0);
}

@media screen and (max-width: 1200px) {
  .save-container {
    position: static;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 700px) {
  .save-container {
    position: static;
    display: flex;
    justify-content: flex-end;
    padding: 8px;
    font-size: 15px;
  }
}

@media screen and (max-width: 520px) {
  .save-container {
    position: static;
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    font-size: 15px;
  }
}
