.section-container {
  width: 100%;
}

.section-container-collapsible-toggle {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: inherit;
  border: none;
}

.section-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.section-collapsible-container {
  width: 100%;
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.3s ease-in-out;
  overflow: hidden;
}

.section-collapsible-container.open {
  grid-template-rows: 1fr;
}

.section-title {
  position: relative;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  text-align: center;
  margin: 0;
}

.section-title-toggle {
  position: absolute;
  top: 0.3em;
  left: 0;
  color: var(--cp-subtext-0)
}

.section-sub-title {
  font-weight: 300;
  font-style: normal;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.divider {
  border: 2px solid var(--cp-lavender);
}

@media screen and (max-width: 700px) {
  .section-title {
    font-size: 32px;
  }

  .section-sub-title {
    font-size: 22px
  }
}

@media screen and (max-width: 520px) {
  .section-title {
    font-size: 24px;
  }

  .section-sub-title {
    font-size: 14px
  }
}
