.tooltip-container {
  position: relative;
}

.tooltip-card {
  position: absolute;
  top: 110%; 
  right: 50%;
  transform: translateX(50%);
  z-index: 10;
  width: 200px;

  margin: 0.1em;
  padding: 0.1em 0.3em;

  border: 1px solid var(--cp-text);
  border-radius: 0.3em;
  background-color: var(--cp-overlay-2);

  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.tooltip-card.stick-to-right {
  right: 0;
  transform: translateX(0);
}


.tooltip-card.visible {
  opacity: 1;
}

.tooltip-card::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent var(--cp-text) transparent;
}

.tooltip-card.stick-to-right::after {
  right: 20%;
}
