.app-container {
  max-width: 1800px;
  padding-bottom: 50vh;
  margin: 0 auto;
}

.app-title {
  font-family: "Instrument Serif", serif;
  color: var(--cp-mauve);
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  text-align: center;
  margin: 0;
  padding-top: 0.8em;
}

.app-title small {
  color: var(--cp-lavender);
  font-weight: 300;
  font-size: 0.3em;
}

.app-title a {
  font-family: "Fira Code", monospace;
  text-decoration: none;
}

.app-divider {
  border: 2px solid var(--cp-lavender);
}

.app-instructions {
  max-width: 1200px;
  font-size: 28px;
  margin: 0 auto;
  margin-bottom: 5em;
}

.app-instructions p {
  margin: 1em auto;
}

.app-instructions code {
  font-family: "Fira Code", monospace;
  line-height: 1em;
  font-weight: 300;
  display: inline-block;
  background-color: var(--cp-surface-1);
  color: var(--cp-text);
  border-radius: 0.3em;
  padding: 0.1em 0.3em;
  opacity: 1;
  white-space: nowrap;
  margin-inline: 0.15em;
}

.app-footer {
  width: 100%;
  padding: 2em;
  max-width: 1200px;
  margin: 0 auto;
}


@media screen and (max-width: 1200px) {
  .app-title {
    font-size: 80px;
  }

  .app-instructions {
    max-width: 800px;
    font-size: 24px;
  }
}


@media screen and (max-width: 700px) {
  .app-title {
    font-size: 60px;
  }

  .app-instructions {
    max-width: 800px;
    font-size: 14px;
  }
}

@media screen and (max-width: 520px) {
  .app-title {
    font-size: 40px;
  }
}

